
html {
    overflow-y: scroll
}


table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%
}

@font-face {
    font-family: 'Open Sans';
    src: url(./assets/fonts/open-sans/opensans-bold-webfont.woff2) format("woff2");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: 'Open Sans';
    src: url(./assets/fonts/open-sans/opensans-regular-webfont.woff2) format("woff2");
    font-weight: 400;
    font-style: normal
}

body, html {
    height: 100%
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, p:first-child {
    margin-top: 0
}

h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, p:last-child {
    margin-bottom: 0
}

p {
    line-height: 150%;
    font-size: 24px;
    margin: 15px 0
}

h2 {
    font-weight: 700;
    font-size: 48px;
    color: #14cc76;
    text-align: center
}

.flex-center {
    display: flex;
    justify-content: center
}

.inline {
    max-width: 1200px;
    margin: 0 auto
}

th {
    font-family: 'Open Sans';
    color: #ff57a2;
    text-transform: uppercase;
    text-align: left;
    cursor: pointer;
}

.thead-wrapper {
    display: flex;
    align-items: center;
}

.thead-arr {
    display: flex;
    flex-direction: column;
}

.thead-arr span {
    font-size: 10px;
    margin: -2px 0 -2px 6px;
}

table td, table th {
    padding: 10px;
    border-bottom: 1px solid #ccc
}

table tr:last-child td {
    border-bottom: none
}

table tr.active td {
    background: #ff57a2;
    color: #fff
}

table tr.clickable:hover {
    color: #ff57a2
}

table tr.clickable td {
    cursor: pointer
}

table img {
    display: block;
    width: 100%
}

table p {
    font-size: 16px
}

table .person_info {
    display: flex;
    align-items: flex-start
}

table .person_info .image {
    height: auto;
    width: 25%;
    flex-shrink: 0
}

table .person_info .image__wrapper {
    background: center center/cover no-repeat;
    padding-bottom: 60%;
    position: relative
}

table .person_info .image__wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

table .person_info .content {
    padding: 0 0 0 20px
}

article p {
    margin: 40px 0 !important
}

article .intro {
    font-weight: 900
}

article .image {
    height: auto;
    width: 100%
}

article .image__wrapper {
    background: center center/cover no-repeat;
    padding-bottom: 60%;
    position: relative
}

article .image__wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.page-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100%;
    display: flex;
    flex-direction: column
}

.page-container {
    display: flex;
    background: #efefef;
    padding: 60px 0;
    flex-grow: 1
}

.page-content {
    padding: 0 60px;
    position: relative;
    flex-grow: 1
}

.page-content .loader-wrapper {
    position: relative;
    top: unset;
    left: unset;
    margin: 40px auto
}

body {
    background: #3A3D57;
    background-image: url(./assets/imgs/bg-deco-left.svg), url(./assets/imgs/bg-deco-right.svg);
    background-repeat: no-repeat;
    background-position: left bottom, right top;
    background-size: 150px, 250px;
    background-attachment: fixed
}

td {
    font-family: 'Open Sans', sans-serif;
    min-width: 20%;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination button.active {
    color: #ff57a2;
}

.pagination button {
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    border-radius: 50%;
    border: solid;
    border-width: 2px;
    border-color: transparent;
    color: #666;
    text-decoration: none;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 5px;
}

.pagination button:hover {
    border-color: #666;
}

.pagination button:first-child, .pagination button:last-child {
    color: white;
    background: #ff57a2;
    color: #fff;
    line-height: 2px;
    box-shadow: none;
    font-size: 24px;
    padding: 0px 0 2px 0;
}

.pagination .active {

}

.pagination button:hover {

}